body{
	padding-bottom: 50px;
}
.content{
	margin-top: 60px;
}

.splash{
	background-image: url("../img/splash.jpg"); 
	background-attachment: fixed
}

ul.nav li.dropdown:hover > ul.dropdown-menu{
    display: block;    
    margin:0;
}
