
/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
	body{
		padding-bottom: 200px;
	}
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
	body{
		padding-bottom: 500px;
	}
}

.content{
	margin-top: 60px;
}

.splash{
	background-image: url("../img/splash.jpg"); 
	background-attachment: fixed
}

ul.nav li.dropdown:hover > ul.dropdown-menu{
    display: block;    
    margin:0;
}

#classGoals li{
	font-size:24px;
	margin-bottom:10px;
}

#headline a{
	text-decoration: none;
}